# Scripts
*.sh text eol=lf
*.bat text eol=crlf

# Source code
*.cpp text eol=lf
*.h   text eol=lf
*.rs  text eol=lf

# Configuration
*.json text eol=lf
*.prop text eol=lf
*.toml text eol=lf

# Text
*.md  text eol=lf
*.txt text eol=lf

# Magisk
magisk-module/**/*.sh -text
magisk-module/META-INF/com/google/android/update-binary -text
magisk-module/META-INF/com/google/android/updater-script -text

# Binary
*.so binary
*.dll binary
*.dylib binary
*.a binary
*.lib binary