* text=auto

# Scripts
*.sh        text eol=lf
*.py        text eol=lf

# Source code
*.rs        text eol=lf
*.cpp       text eol=lf
*.hpp       text eol=lf
*.h         text eol=lf
*.kt        text eol=lf
*.java      text eol=lf

# Build & Configuration
*.toml      text eol=lf
*.json      text eol=lf
*.prop      text eol=lf
*.gradle    text eol=lf
*.kts       text eol=lf
*.xml       text eol=lf
*.properties text eol=lf

# Text
*.md        text eol=lf
*.txt       text eol=lf

# Magisk
magisk-module/**/*.sh -text
magisk-module/META-INF/com/google/android/update-binary -text
magisk-module/META-INF/com/google/android/updater-script -text

# Binary
*.so        binary
*.dll       binary
*.dylib     binary
*.a         binary
*.lib       binary
*.apk       binary
*.aab       binary
*.zip       binary
*.jar       binary