# Local configuration
local.properties

# Logs
*.log
*.hprof

# Android Studio / Gradle
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json
build/
obj/
libs/
*.zip
magisk-module/system/

# IDE
.vscode/
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Keystore
*.jks
*.keystore

# Google Services
google-services.json

# Rust
/target/
Cargo.lock
**/*.rs.bk

# C / C++
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out
*.app
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile